.login_div1
 {
	display: none;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9);
}
.login_div2 
{
	display: none;
	position: relative;
	top:130px;
	margin:0px auto;
	height: 225px;
	width: 340px;
	z-index: 2;
	background-color: #DADADA;
}

.login_div2 p
{
	display: inline-block;
	cursor: default;
}

.login_header
{
	background:-moz-linear-gradient(top,#000000,#202020);
	background:-webkit-linear-gradient(top,#000000,#202020);
	height: 44px;
	width: 100%;
}

.login_x
{
	margin: 0px;;
	float: right;
	height: 16px;
	width: 16px;
	padding: 14px;
	font-size: 17px;
	text-align: center;;
	font-family: Arial;
	color: white;
	cursor: pointer!important;
}

.login_form
{
	position: relative;
	margin:22px auto;
	width: 240px;
}

.login_username
{
	width: 155px;
}

.login_password
{
	width: 155px;
}

.login_button
{
	margin-left:39px;
	margin-right:43px;
	padding: 7px 0 0 0;
	border:none;
	background-color: black;
	width:  68px;
	height: 31px;
	color: white;
	font-size: 16px;
	text-align: center;
	cursor: pointer!important;
}

.login_exit_button
{
	padding-top: 7px;
	background-color: black;
	width: 68px;
	height: 23px;
	color: white;
	text-align: center;
	cursor: pointer!important;
}