<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/sigma.css"/>	

</head>

<body>
	<div id="main_block">
		<!--header-->
		<div id="header_block">
			<p class="header">登录</p>
			<div class="header">
				<p>主页</p>
				<p>资料下载</p>
				<p>项目外包</p>
				<p style="border-style:none">团队招新</p>
			</div>
		</div>

		<!--left-->
		<div id="left_block">
			<div class="circle_big_white">
				<div class="circle_big_inside">
					<p class="circle_big_font">Σ</p>
				</div>
			</div>

			<div class="judge"></div>



				<!--small circle-->
			<div class="circle_small_white circle_small_font">
				<div class="circle_H">
					<div class="circle_small_inside"><p>H</p></div>
				</div>
				<div class="circle_I">
					<div class="circle_small_inside"><p>I</p></div>
				</div>
				<div class="circle_A">
					<div class="circle_small_inside"><p>A</p></div>
				</div>
				<div class="circle_P">
					<div class="circle_small_inside"><p>P</p></div>
				</div>
			</div>
			
			<div class="circle_small_1_white">
				<div class="circle_small_1_inside"></div>
			</div>
			<div class="circle_small_2_white"> 
				<div class="circle_small_2_inside"></div>
			</div>
			<div class="circle_small_3_white">  
				<div class="circle_small_3_inside"></div>
			</div>
			<div class="circle_small_4_white"> 
				<div class="circle_small_4_inside"></div> 
			</div>  
			<div class="circle_small_5_white">
				<div class="circle_small_5_inside"></div>
			</div> 
		</div>

		<!--right block-->
		<div id="right_block">
			<div class="up"></div>
			<div class="right"></div>
			<div style="float:right">
				<div class="right_block_text">
					<p>gasdfrbJKASFNJKASE</p>
					<P>JSHDEFBCHAS3DBCFSD</P>
					<P>JSHDEFBCHAS3DBCFSD</P>
					<P>JSHDEFBCHAS3DBCFSD</P>
					<P>JSHDEFBCHAS3DBsazdchjsdbchjzchjbaSDhjvbASDHSDcCFSD</P>
					<P>JSHDEFBCHAS3DBCFSD</P>
					<P>JSHDEFBCHAS3DBCFSD</P>
				</div>
			
				<div class="right_block_photo">
					<img src="../static/img/1.jpg">
				</div>
			</div>
			<div class="circle_right"></div>
		</div>
	</div>
</body>

</html>
