<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<Link type="text/css" rel="stylesheet" href="../static/css/sigma.css"/>	
	<Link type="text/css" rel="stylesheet" href="../static/css/home_left_block.css"/>	
	<Link type="text/css" rel="stylesheet" href="../static/css/home_right_block.css"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/recruit_block.css"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/log_in.css"/>
	<script type="text/javascript" rel="script" src="../static/js/sigma.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/detail_show.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/menu.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/log_in.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/recruitBlockJudge.js"></script>
	<title>sigma studio</title>
</head>

<body onload="pageStart()">

	<div class="login_div1">
	<div class="login_div2">
		<div class="login_header">
			<p style="color:white;margin-left:20px;">登陆</p>
			<p class="login_x">X</p>
		</div>

		<form name="myform"  method="post" class="login_form">
			<p>用户名:</p>
			<input type="text" name="username" size="15">
			<br/>

			<p style="margin-left:18px;">密码:</p>
			<input type="password" name="pasword" size="15">
			<br/>

			<input type="button" name="logoin" value="登陆" style="margin-left:50px;margin-right:40px" onClick="logo_in()">
			<input type="button" name="exit" value="取消" onClick="closeme()">
			</td>
		</form>
		
	</div>
	</div>

	<div id="main_block">
		<!--header-->
		<div id="menu">
			<p class="header log_in" style="cursor:pointer">登录</p>
			<div class="header">
				<p class="home" >主页</p>
				<p class="download">资料下载</p>
				<p class="outsource">项目外包</p>
				<p class="recruit" style="border-style:none">团队招新</p>
			</div>
		</div>

		<div class="home_block every_block">
			<!--left-->
			<div class="left_block">
				<div class="circle_big_white">
					<div class="circle_big_inside">
						<p class="circle_big_font">Σ</p>
					</div>
				</div>

				<div class="judge"></div>

					<!--small circle-->
				<div class="detail_1">
					<div id="detail_1_H"><p>HISTORY</p></div>
					<div id="detail_1_I"><p>INTRODUCTION</p></div>
					<div id="detail_1_A"><p>AMBITION</p></div>
					<div id="detail_1_P"><p>PURPOSE</p></div>
				</div>
				
				<div class="detail_2">
					<div id="detail_2_H">
						<p>本产品旨在构建一个属于SIGMA团队的专门网站，一方面用于向外介绍与推广团队，另一方面也是为了满足整个团队的日常活动安排与招新等事项的进行。其中还可以不断添加各项功能，从而促进SIGMA团队的良好发展，并且有向外提供一个良好的交互与交流平台的重要目的。
					该网站的建立，一方面是给大二的同学练手，从而提高各位web开发的能力，另一发面，也是切合团队需求，因此，本网站的建立势在必行。
						</p>
					</div>
					<div id="detail_2_I">
						<p>本网站初期目标，主要是将整个构架给初步完成，满足作为一个团队网站的基本需求，达到对团队介绍和对外宣传目的，并且提供一个对外交流的窗口，从而便于学生与客户们了解本团队。与此同时，基于即将开学的原因，本网站重点在于做好招新界面，以便于在开学之初打好宣传，从而为团队的新鲜血液的注入提供帮助。
						</p>
					</div>
					<div id="detail_2_A">
						<p>SIGMA主页：主页主要提供子网页的链接，与SIGMA团队的基本信息介绍以及近况展示，以及一切贴合用户体验的小需求，子网页初步敲定有：SIGMA团队介绍，SIGMA外包需求专区，SIGMA招新界面，SIGMA学习资料库
						</p>
					</div>
					<div id="detail_2_P">
						<p>  因为只是一个练手的web项目，并且因为时间限制，因此开发不进行迭代，只有15-20天左右的开发周期，对于开发流程，因为参与项目的都是初学web的大二同学，因此整个流程要求尽量简单明了
						</p>
					</div>
				</div>
				
				<div class="circle_small_white circle_small_font">
					<div class="circle_H">
						<div class="circle_small_inside"><p id="H">H</p></div>
					</div>
					<div class="circle_I">
						<div class="circle_small_inside"><p id="I">I</p></div>
					</div>
					<div class="circle_A">
						<div class="circle_small_inside"><p id="A">A</p></div>
					</div>
					<div class="circle_P">
						<div class="circle_small_inside"><p id="P">P</p></div>
					</div>
				</div>
				
				<div class="circle_small_1_white">
					<div class="circle_small_1_inside"></div>
				</div>
				<div class="circle_small_2_white"> 
					<div class="circle_small_2_inside"></div>
				</div>
				<div class="circle_small_3_white">  
					<div class="circle_small_3_inside"></div>
				</div>
				<div class="circle_small_4_white"> 
					<div class="circle_small_4_inside"></div> 
				</div>  
				<div class="circle_small_5_white">
					<div class="circle_small_5_inside"></div>
				</div> 
			</div>

			<!--right block-->
			<div class="right_block">
				<div class="up"></div>
				<div class="right"></div>
				<div style="float:right">
					<div class="right_block_text">
						<p>gasdfrbJKASFNJKASE</p>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBsazdchjsdbchjzchjbaSDhjvbASDHSDcCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
					</div>
				
					<div class="right_block_photo">
						<img src="../static/img/1.jpg">
					</div>
				</div>
				<div class="circle_right"></div>
			</div>
		</div>

		<div class="download_block every_block">
			download_block
		</div>

		<div class="outsource_block every_block">
			outsource_block
		</div>

		<div class="recruit_block every_block">
			<form action="{{ url_for('add_entry') }}" method="post" class="add-entry" onsubmit="return form_judge()">
				 <p>*姓名:</p>
				 <input type="text" 
				 		name="name"
				 		class="input_name"/>
				 <br/>

				 <p>*班级:</p>
				 <select name="specialty">
				 	<option value="software">软件工程</option>
				 	<option value="digitalmedia">数字媒体技术</option>
				 </select>
				<br/>

				<p>*性别:</p>
				 <select name="sex" style="width:105px">
				 	<option value="male">男</option>
				 	<option value="female">女</option>
				 </select>
				 <br/>

				 <p>*学号:</p>
				 <input type="text" 
				 		class="input_stu_id" 
				 		name="studentid" 
				 		placeholder="例:U201311111"
				 		style="margin-bottom:20px"/>
				 <p class="student_ID display_none" style="font-size:13px">注意:请输入正确的学号</p>
				 <br/>

				 <p>*手机:</p>
				 <input type="text" 
				 		class="input_phone_num" 
				 		name="phone" 
				 		style="margin-bottom:20px"/>
				 <p class="phoneNum display_none" style="font-size:13px">注意:请输入正确的手机号码</p>
				 <br/>

				 <p>*邮箱:</p>
				 <input type="text" 
				 		class="input_email" 
				 		name="email" 
				 		style="margin-bottom:10px"/>
				 <p class="email display_none" style="font-size:13px">注意:请输入正确的邮箱地址</p>
				 <br/>

				 <p style="margin-bottom:5px;margin-left:10px;">是否有编程或绘画基础</p>
				 <textarea type="text" 
				 			placeholder="请把相关的学习经历以及获奖情况写下来" 
				 			name="basic" 
				 			style="width:500px;height:50px;resize:none;margin-left:10px;"></textarea>
				 <br/>

				 <p style="margin:5px;display:block;margin-left:10px;">自我介绍</p>
				 <textarea placeholder="1.个人兴趣 2.学习经历 3.为什么要加入团队 4.想在团队里学到什么 5.个人时间安排 6.其他...."
				 			 name="others" 
				 			 style="width:500px;height:150px;resize:none;;margin-left:10px;"></textarea>
				 <br/>

				 <input type="submit" value="提交" style="margin-left:210px;margin-top:10px;" />

			</form>
		</div>
	</div>
</body>

</html>
