<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<Link type="text/css" rel="stylesheet" href="../static/css/sigma.css"/>	
	<Link type="text/css" rel="stylesheet" href="../static/css/home_left_block.css"/>	
	<Link type="text/css" rel="stylesheet" href="../static/css/home_right_block.css"/>
	<Link type="text/css" rel="stylesheet" href="../static/css/log_in.css"/>
	<script type="text/javascript" rel="script" src="../static/js/sigma.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/detail_show.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/log_in.js"></script>
	<title>sigma studio</title>
</head>

<body onload="pageStart()">

	{% if start == "first"%}
		<script>
			function pageStart()
			{
				pageStart_first();
			}
		</script>
	{% else %}
		<script>
			function pageStart()
			{
				pageStart_other();
			}
		</script>
	{% endif %}

	{% if login_status == 'login_out' %}		
		<div class="login_div1">
			<div class="login_div2">
				<div class="login_header">
					<p style="color:white;margin-left:20px;">登陆</p>
					<p class="login_x">X</p>
				</div>

				<form name="myform" action="{{ url_for('login') }}" method="post" class="login_form" onsubmit="return log_in()">

					<p class="login_error" style="display:none;"></p>

					<p>用户名:</p>
					<input type="text" name="username"  class="login_username"/>
					<br/>

					<p style="margin-left:18px;">密码:</p>
					<input type="password" name="password" class="login_password"/>
					<br/>

					<input type="submit" value="登陆" class="login_button" />
					<p class="login_exit_button">取消</p>
				</form>
			</div>
		</div>
	{%  endif %}

	{%if login_status == 'login_mistake' %}
		<div class="login_div1" style="display:block">
				<div class="login_div2" style="display:block">
					<div class="login_header">
						<p style="color:white;margin-left:20px;">登陆</p>
						<p class="login_x">X</p>
					</div>

					<form name="myform" action="{{ url_for('login') }}" method="post" class="login_form" onsubmit="return log_in()">
						<p class="login_error" style="color:red;font-size:13px;display:block;margin-left:40px;">请输入正确的用户名和密码</p>

						<p style="margin-top:10px;">用户名:</p>
						<input type="text" name="username"  class="login_username"/>
						<br/>

						<p style="margin-left:18px;">密码:</p>
						<input type="password" name="password" class="login_password"/>
						<br/>

						<input type="submit" value="登陆" class="login_button" />
						<p class="login_exit_button" style="margin-top:0px;">取消</p>
					</form>
				</div>
			</div>
		{%  endif %}
	
	<div id="main_block">
		<!--header-->
		<div class="menu">
			<div class=metanav>
				{% if not session.logged_in %}
				<p class="header login_menu" style="cursor:pointer">登录</p>
				{% else %}
				<a href="{{ url_for('logout') }}" 
					class="header" 
					style="cursor:pointer;margin:16px 0px;	text-decoration: none">注销
				</a>
				{% endif %}
			</div>
			<div class="header">
				<p class="home menu_active" >主页</p>
				<a class="download" href="download.html">资料下载</a>
				<a class="achievement" href="achievement.html">成果展示</a>
				<a class="recruit" style="border-style:none" href="recruit.html">团队招新</a>
			</div>
		</div>

		<div class="home_block">
			<!--left-->
			<div class="left_block">
				<div class="circle_big_white">
					<div class="circle_big_inside">
						<p class="circle_big_font">Σ</p>
					</div>
				</div>

				<div class="judge"></div>

					<!--small circle-->
				<div class="detail_1">
					<div id="detail_1_H"><p>HISTORY</p></div>
					<div id="detail_1_I"><p>INTRODUCTION</p></div>
					<div id="detail_1_A"><p>AMBITION</p></div>
					<div id="detail_1_P"><p>PURPOSE</p></div>
				</div>
				
				<div class="detail_2">
					<div id="detail_2_H">
						<p>本产品旨在构建一个属于SIGMA团队的专门网站，一方面用于向外介绍与推广团队，另一方面也是为了满足整个团队的日常活动安排与招新等事项的进行。其中还可以不断添加各项功能，从而促进SIGMA团队的良好发展，并且有向外提供一个良好的交互与交流平台的重要目的。
					该网站的建立，一方面是给大二的同学练手，从而提高各位web开发的能力，另一发面，也是切合团队需求，因此，本网站的建立势在必行。
						</p>
					</div>
					<div id="detail_2_I">
						<p>本网站初期目标，主要是将整个构架给初步完成，满足作为一个团队网站的基本需求，达到对团队介绍和对外宣传目的，并且提供一个对外交流的窗口，从而便于学生与客户们了解本团队。与此同时，基于即将开学的原因，本网站重点在于做好招新界面，以便于在开学之初打好宣传，从而为团队的新鲜血液的注入提供帮助。
						</p>
					</div>
					<div id="detail_2_A">
						<p>SIGMA主页：主页主要提供子网页的链接，与SIGMA团队的基本信息介绍以及近况展示，以及一切贴合用户体验的小需求，子网页初步敲定有：SIGMA团队介绍，SIGMA外包需求专区，SIGMA招新界面，SIGMA学习资料库
						</p>
					</div>
					<div id="detail_2_P">
						<p>  因为只是一个练手的web项目，并且因为时间限制，因此开发不进行迭代，只有15-20天左右的开发周期，对于开发流程，因为参与项目的都是初学web的大二同学，因此整个流程要求尽量简单明了
						</p>
					</div>
				</div>
				
				<div class="circle_small_white circle_small_font">
					<div class="circle_H">
						<div class="circle_small_inside"><p id="H">H</p></div>
					</div>
					<div class="circle_I">
						<div class="circle_small_inside"><p id="I">I</p></div>
					</div>
					<div class="circle_A">
						<div class="circle_small_inside"><p id="A">A</p></div>
					</div>
					<div class="circle_P">
						<div class="circle_small_inside"><p id="P">P</p></div>
					</div>
				</div>
				
				<div class="circle_small_1_white">
					<div class="circle_small_1_inside"></div>
				</div>
				<div class="circle_small_2_white"> 
					<div class="circle_small_2_inside"></div>
				</div>
				<div class="circle_small_3_white">  
					<div class="circle_small_3_inside"></div>
				</div>
				<div class="circle_small_4_white"> 
					<div class="circle_small_4_inside"></div> 
				</div>  
				<div class="circle_small_5_white">
					<div class="circle_small_5_inside"></div>
				</div> 
			</div>

			<!--right block-->
			<div class="right_block">
				<div class="up"></div>
				<div class="right"></div>
				<div class="circle_right"></div>
				<div style="float:right">
					<div class="right_block_text">
						<p>gasdfrbJKASFNJKASE</p>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBsazdchjsdbchjzchjbaSDhjvbASDHSDcCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
						<P>JSHDEFBCHAS3DBCFSD</P>
					</div>
				
					<div class="right_block_photo">
						<img src="../static/img/1.jpg">
						<p>那个div在下层、无论如何设置z-index都无</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
